.input-signup {
    border: 1px solid grey;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.half-width {
    width: 50%; /* Atur lebar menjadi setengah dari lebar normal */
    
}
