.link {
    text-align: center;
    font-size: 16px;
    color: black;
    cursor: pointer;
    .strong {
        font-weight: bold;
        /* Tambahkan properti CSS lainnya sesuai kebutuhan */
    }
}